@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center">
    <a href="@Url.Action("Index", new { Category = "" })">Всі товари</a>
    <form asp-action="Index" method="post">
        <div class="text-center pt-2 d-flex ">
            <select asp-for="@Model.CategoryId" class="form-control" asp-items="@Model.Categories">
                <option value="" selected>Всі товари</option>
            </select>
            <input type="submit" value="Знайти" class="btn btn-danger ms-1"/>
        </div>
    </form>
    <div class="container py-5">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div id="@item.Product.Id" class="col-md-12 col-lg-3 mb-4 mb-lg-2">
                    <div class="card h-100 shadow product-home-card">
                        <a asp-action="Details" asp-route-id="@item.Product.Id">
                            <div class="text-center">
                                <img class="mt-4 mb-2" style="width: 90%;" alt="@item.Product.Name"
                                     src="~/images/products/@(item.Product.Image ?? "productDefault.png")"/>
                            </div>
                        </a>
                        <div class="card-body h-100 mb-0">
                            <div class="d-flex justify-content-start">
                                <p class="small">
                                    <a href="@Url.Action("Index", new { categoryId = @item.Product.CategoryId })" class="product-category-link">@item.Product.Category?.Name</a>
                                </p>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.Product.Id">
                                    <h6 class="mb-0 me-3 text-dark">@item.Product.Name</h6>
                                </a>
                                <h5 class="text-dark mb-0">@(item.Product.Price.ToString().Split(',')[0])&#8372;</h5>
                            </div>
                            <div class="text-end pe-2 home-cart-button">
                                @if (item.InCart)
                                {
                                    <button onclick="removeFromCart('@item.Product.Id')" class="btn btn-danger">
                                        <i class="bi bi-cart-dash-fill"></i>
                                    </button>
                                }
                                else
                                {
                                    <button onclick="addToCart('@item.Product.Id')" class="btn btn-warning">
                                        <i class="bi bi-cart-plus-fill"></i>
                                    </button>
                                }
                            </div>
                        </div>
                        <p class="text-end pe-3 @(item.Product.Amount == 0 ? "text-danger" : "text-muted")">
                            Available: <span class="fw-bold">@item.Product.Amount</span>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.Page - 1, categoryId = Model.CategoryId })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @if (Model.PagesCount > 1)
            {
                @for (int i = 1; i <= Model.PagesCount; i++)
                {
                    <li class="page-item @(Model.Page == i ? "active" : "")">
                        @if (Model.Page == i)
                        {
                            <span style="cursor: pointer;" class="page-link">@i</span>
                        }
                        else
                        {
                            <a class="page-link" href="@Url.Action("Index", new { page = i, categoryId = Model.CategoryId })">@i</a>
                        }
                    </li>
                }
            }
            @if (Model.Page < Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.Page + 1, categoryId = Model.CategoryId })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
