@model CartVM

<div>
    <div>
        @if (Model.Items.Any() && Model.CartItems.Any())
        {
            <table class="table">
                <thead>
                <tr>
                    <th class="h5">Назва</th>
                    <th>На складі</th>
                    <th>Кількість</th>
                    <th>Ціна</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr style="height: 150px" id="item_@item.Id">
                        <td>
                            <img class="text-center" style="max-width: 150px;" src="~/images/products/@(item.Image ?? "productDefault.png")"/>
                            @item.Name
                        </td>
                        <td>@item.Amount</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary btn-sm"
                                        @(Model.CartItems.FirstOrDefault(i => i.ProductId == item.Id).Quantity <= 1 ? "disabled" : "")
                                        onclick="removeFromCart('@item.Id')">-</button>
                                <span style="border: 1px solid black" class="btn btn-outlined btn-sm text-dark">
                                    @Model.CartItems.FirstOrDefault(i => i.ProductId == item.Id).Quantity
                                </span>
                                <button type="button" class="btn btn-primary btn-sm"
                                        @(Model.CartItems.FirstOrDefault(i => i.ProductId == item.Id).Quantity >= item.Amount ? "disabled" : "")
                                        onclick="addToCart('@item.Id')">+</button>
                            </div>
                        </td>
                        <td>@item.Price.ToString("C")</td>
                        <td>
                            <button onclick="removeFromCart('@item.Id', 1)" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="d-flex flex-row w-100">
                <strong>Загальна сума:</strong>
                <p style="text-decoration: @(Model.Promocode.Id == null ? "none" : "line-through")" class="ms-1">@Model.Sum.ToString("C")</p>
                @if (Model.Promocode.Id != null)
                {
                    <p style="color: orange; font-size: 0.9em;" class="ms-2">@((Model.Sum - Model.Sum / 100 * Model.Promocode.Discount).ToString("C"))</p>
                }
                <a asp-action="PlaceOrder" class="btn btn-secondary ms-auto me-3">Оформити замовлення</a>
                <a asp-action="ClearCart" class="btn btn-danger me-4">Очистити кошик</a>
            </div>
            <div>
                <form asp-action="AddPromoCode" method="post">
                    <input asp-for="Promocode.Id" type="text" class="my-3" placeholder="Promocode" value="@(Model.Promocode.Id != null ? Model.Promocode.Id : "")"/>
                    <input type="submit" class="btn btn-secondary btn-sm ms-2" value="Apply"/>
                </form>
            </div>
        }
        else
        {
            <p class="text-muted">Ваш кошик порожній.</p>
        }
    </div>
</div>